/*Making the page responsive*/


/*      For Big Screens     */

@media only screen and (max-width:1023px) {
    .img {
        margin-top: -23%;
    }

    .intro {
        margin-left: 5%
    }
}





/*      For Small to medium Tablet Screens      */

@media only screen and (max-width:768px) {
    .intro {
        margin-left: -5%;
        margin-top: 25%;
    }

    .img {
        margin-top: -22%;
    }

    .img1 {
        height: 60%;
    }
}





/*      For Mobile Phone Screens            */

@media only screen and (max-width:576px) {

    .navbar_pos {
        width: 20%;
        margin: 0 auto;
    }

    .navigation_links {
        text-align: center;
    }



    .slide {
        background-image: linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.84)), url(bground.jpg);
        background-position: center;
        background-size: cover;
    }

    .img {
        display: none;
    }

    .intro {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .intro h1 {
        font-size: 280%;
        font-weight: 300;


    }

    .intro h2 {
        font-size: 150%;
        font-weight: 100;
        padding: 2% 8%;
    }

    .btn_icons {
        width: 60%;
        margin: 10% auto;
        margin-left: 15%;
    }

    .button1:link,
    .button1:visited {
        width: 40%;
    }

    .button1:hover,
    .button1:active {
        background-color: transparent;
    }

    .button2:link,
    .button2:visited {
        width: 40%;
        padding-top: 2%
    }

    .btn_icons2 {
        width: 110%;
        margin: 15% auto;

    }

    .profile_card {
        width: 100%;
    }

    .cards .name {
        margin: 30px 0;
        margin-right: -15px;
    }

    .cards .name a {
        font-size: 14px;
        padding-left: 6px;
    }

    .cards .button {
        width: 80px;
        margin-top: 40%;

    }

    .profile-skill {
        width: 40%;
        display: block;
        margin: 15% auto;
    }

    .icon {
        margin-left: 0;
        text-align: center;
        margin-bottom: 22%;
    }

    .ion {
        font-size: 180%;
    }

    .about-card-title {
        width: 40%;
        margin-bottom: 20px;

    }

    .about-card-subtitle {
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }



    .edu-container {
        width: 70%;
    }

    .edu-heading {
        font-size: 120%;
        margin-top: 0;
    }

    .edu-text {
        font-weight: 300;
    }

    .skills-container {
        width: 90vw;
        margin: 0 auto;
    }

    .skills-container-1,
    .skills-container-2 {
        display: inline-block;
    }

    .skills-container-1 {
        margin-bottom: 3%;
    }

    .skills-container .skills-card {
        margin-bottom: 3%;
    }

    .skills-container .skills-card:hover {
        transform: translateY(-8px);
    }

}

/*      For Small Mobile Phone Screens            */

@media only screen and (max-width:480px) {}
