/*     COLOURS
#ffdc27
    #202020 --- Normal dark
        #151514 --- darker
    #565656 --- lighter

    #ffa502 --- base
    #ce8500 --- darker
    #ffb735 --- lighter
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #151514;
}

/*
------------------------
    Navigation
------------------------
*/
.navbar {
    background-color: #151514;
    padding-bottom: 0;
    padding-top: 0;
    height: 60px;
}

.navbar-toggler {
    margin-bottom: 0;
    margin-top: 5px;
}

.navbar_pos {
    margin-left: 59%;
}

.navigation_links {
    padding-bottom: 3px;
    margin-top: 25px;
    margin-bottom: 2px;
    border-bottom: 2px solid #151414;
    transition: all 0.5s;
}

.navigation_links:hover {
    border-bottom-color: #ffb735;
    transform: translateY(-1px);
}



/*

------------------------
    CAROUSEL SLIDER
------------------------
*/
header {
    background-color: #151414;
}

.slide_container {
    width: 90%;
    margin: 0 auto;
}

.slide {
    height: 93vh;
    width: 100vw;
    background-color: #202020;
    margin-top: 1%;
}

/*     Slide 1       */
.container {
    display: flex;
}

.intro {
    width: 40%;
    color: #ffb735;
    margin-top: 13%;
    line-height: 1px;
    letter-spacing: 2px;
    font-weight: 300;
}

.img {
    height: 90%;
    width: 35%;
    float: right;
    margin-right: 8%;
    margin-top: -17%;
    padding-right: 10%;
}

.img1 {
    height: 90%;
}

.btn_icons {
    margin-top: 7%;
    margin-left: 4%;
}

.button1:link,
.button1:visited {
    background-color: #ffb735;
    border-color: #ffb735;
    font-weight: 400;
    border-radius: 200px;
    width: 10%;
    margin-left: 5%;
    transition: all 0.5s;
}

.button1:hover,
.button1:active {
    color: #ffb735;
    background-color: #202020;
}

.button2:link,
.button2:visited {
    margin-left: 5%;
    color: #ffb735;
    border-color: #ffb735;
    border-radius: 200px;
    width: 12%;
    transition: all 0.5s;
}

.button2:hover,
.button2:active {
    background-color: #ffb735;
    color: rgba(0, 0, 0, 0.89);
}

/*     Slide 2       */

.sliderContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url(img/img2.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.heading {
    width: 80%;
    margin-top: 16%;
    margin-left: 10%;
}

.main_head {
    color: #ffb735;
    letter-spacing: 2px;
    font-size: 270%;
    font-weight: 400;
}

.btn_icons2 {
    width: 170%;
    margin-top: 5%;
    padding-left: 30%;
}

.button3 {
    width: 80%;
    background-color: #ffb735;
    border-color: #ffb735;
}

.button3:hover,
.button3:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/*
------------------------
        PROFILE
------------------------
*/

#profile {
    background: rgba(16, 16, 16, 0.8);
}

.profile_card {
    width: 70%;
    display: flex;
    padding-bottom: 5%;
}

.cards {
    width: 30%;
    background: #202020;
}

.cards .ds-top {
    width: 280px;
    height: 10px;
    background: #ffb735;
}

.cards .avatar-holder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffb735, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500, inset 0 0 0 5px #ce8500;
    background: #202020;
    overflow: hidden;
    margin: 50px auto;
}

.cards .avatar-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn 0.5s ease-in;
}

.cards .name {
    margin: 10px;
    margin-top: -20px;
    animation: fadeIn 2s ease-in;
}

.cards .name a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 35px;
}

.cards .name a:hover {
    color: #ffb735;
}

.cards .button {
    margin: auto;
    border-bottom: 2px solid #ffb735;
    height: 40px;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    margin-top: 30%;
    text-align: center;
    animation: fadeIn 2s ease-in;
    outline: none;
}

.cards .button a {
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}

.cards .button a:hover {
    color: #ffb735;
}

.profile-skill {
    width: 30%;
    display: flex;
    margin-top: 10%;
}

.icon {
    margin-left: 35%;
    margin-bottom: 20%;
}

.ion {
    font-size: 130%;
    color: #ffb735;
    transition: all 0.5s;
    animation: fadeIn 2s ease-in;
}

.ion:hover {
    color: white;
}

.about-card {
    flex: 1;
    background-color: #202020;
    border-radius: 0;
}

.about-card-title {
    color: #ffb735;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    font-size: 130%;
}

.about-card-subtitle {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 3%;
    margin-top: 0;
    padding-bottom: 0;
}

.card-list {
    background-color: #202020;
    color: white;
    border-color: #202020;
    border-left-color: #ffb735;
    width: 90%;
    margin: 0 auto;
    cursor: default;
}

ul li:last-child {
    padding-bottom: 25px;
}


.highlight-text {
    color: #ffb735;
}

/*
------------------------
       EDUCATION
------------------------
*/

.row {
    width: 100%;
    margin-left: 0;
}

.edu-container {
    width: 75%;
    display: block;
    background-color: #151514;
}

.main-head {
    margin-top: 4%;
    margin-bottom: 2%;
}

.main-head h2 {
    color: aliceblue;
    font-weight: 200;
    cursor: default;
}

.main-head h2:after {
    display: block;
    background-color: #ffb735;
    height: 3px;
    content: "";
    width: 100px;
    margin: 20px auto;
    margin-top: 10px;
    animation: fadeInUp 2s;
}

.edu-body {
    background-color: #202020;
    margin-bottom: 5%;
    overflow: hidden;
}

.line-1 {
    display: block;
    height: 70px;
    background-color: #ffb735;
    content: "";
    left: 0;
    width: 230px;
    margin-top: -30px;
    margin-left: -20%;
    margin-bottom: 5px;
    overflow: hidden;
    transform: rotate(-30deg);
    animation: fadeIn 2s;
}



.edu-heading {
    color: aliceblue;
    font-size: 130%;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}



.edu-text {
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
    padding: 3%;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    cursor: default;
}

.date {
    color: #ffb735;
    font-size: 100%;
    padding: 50px 10px;
}

/*

------------------------
       SKILLS
------------------------

*/

#skills {
    min-height: 100vh;
    background: rgba(16, 16, 16, 0.8);
}

#skills .main-head h2:after {
    width: 80px;
}

.skills-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 2%;
}

.skills-container-1,
.skills-container-2 {
    display: flex;
}

.skills-container-1 {
    margin-bottom: 3%;
}

.space-eater {
    flex: 1;
}

.skills-container .skills-card {
    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    height: 250px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.skills-container .skills-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.skills-container .skills-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.skills-box {
    margin: 10% 20%;
}

.skills-percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.skills-percent .skills-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.skills-percent .skills-number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.skills-card:hover .skills-percent .skills-number h2 {
    color: #fff;
    font-size: 60px;
}

.skills-percent .skills-number h2 span {
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}

.skills-card:hover .skills-percent .skills-number h2 span {
    color: #fff;
}

.skills-text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.skills-card:hover .skills-text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.skills-container-1 .skills-card:nth-of-type(1) svg circle:nth-child(2) {
    stroke: #ffdf00;
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
}


.skills-container-1 .skills-card:nth-of-type(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #00a1ff;
}

.skills-container-1 .skills-card:nth-of-type(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #d61a3c;
}

.skills-container-2 .skills-card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #00ff43;
}

.skills-container-2 .skills-card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 82) / 100);
    stroke: #800080;
}

.skills-container-2 .skills-card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #ff6600;
}

/*

------------------------
       PROJECTS
------------------------

*/

